<div class="row">
	<div class="col-md-3 col-sm-2 hidden-xs"></div>
	<div class="col-md-2 col-sm-3 col-xs-5">
		<div class="dropdown open">
			<ul class="dropdown-menu currencies-list" data-ng-model="leftCurrency">
				<li data-ng-repeat="currency in currencies" data-ng-click="selectCurrency('left', {{currency}})"><a>{{currency.value}}</a></li>
			</ul>
		</div>
	</div>
	<div class="text-center convert-direction col-md-2 col-sm-2 col-xs-2">
		<button class="btn btn-success btn-lg convert-direction-btn">
			<span class="glyphicon glyphicon-arrow-right"></span>
		</button>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-5">
		<div class="dropdown open">
			<ul class="dropdown-menu currencies-list">
				<li data-ng-repeat="currency in currencies" data-ng-click="selectCurrency('right', {{currency}})"><a>{{currency.value}}</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-3 col-sm-2 hidden-xs"></div>
</div>