.modal-dialog {
	padding-top: 13%;
	max-width: 260px;
}

.modal-dialog .center {
	text-align:center;
}

.modal-dialog img {
	width: 100%;
	height: auto;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

.modal-dialog label {
	text-align: center;
}

.modal-dialog label img {
	width: 90%;
}

.modal-dialog img .enable-True {
	cursor: pointer
}

.modal-dialog img .enable-False {
	cursor: none
}

label{
	margin: 5px;
}

#captcha {
	margin-bottom: 10px;
	cursor: pointer
}