.modal-dialog {
	padding-top: 13%;
	max-width: 330px;
}

.modal-dialog .center {
	text-align:center;
}

.modal-dialog img {
	cursor: pointer;
	width: 90%;
	height: auto;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

.modal-dialog label {
	text-align: center;
}

.modal-dialog label[for=radio2]{
	margin: 10px;
	margin-left: 15px;
	font-family:'Times New Roman', Times, serif;
}

#captcha {
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
}

.popover-content {
	font-family:'Times New Roman', Times, serif;
	font-weight:bold;
	font-size:18px;
	color: graytext;
}