/* START CURRENCY STEP */

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 797px) {
	.currency { 
		background: url('../img/currencies-40x40.png') no-repeat top left;
		width: 40px; height: 40px;
	} 
	.currency.BITCOIN { background-position: 0px 0px; } 
	.currency.DIGITALCOIN { background-position: -50px 0px; } 
	.currency.FEATHERCOIN { background-position: -100px 0px; } 
	.currency.LITECOIN { background-position: -149px 0px; width: 43px; } 
	.currency.NAMECOIN { background-position: -200px 0px; } 
	.currency.NOVACOIN { background-position: -250px 0px; width: 39px; height: 40px;  } 
	.currency.PEERCOIN { background-position: -299px 0px; } 
	.currency.PRIMECOIN { background-position: -349px 0px; } 
	.currency.QUARKCOIN { background-position: -399px 0px; } 
	.currency.STABLECOIN { background-position: -449px 0px; } 
	.currency.YANDEX_RUB { background-position: -499px 0px; } 
	.currency.ZETACOIN { background-position: -549px 0px; } 
	.currency.DOGECOIN { background-position: -599px 0px; width: 43px; height: 42px; }

	.currency-list-item {
		padding: 2% 10% !important;
	}

	.currency-list-icon {
		margin-left: -12px;
	}

	.direction-control {
		height: 40px;
		width: 40px;
		font-size: 2em;
	}

	.currency-list-rate {
		overflow: hidden;
		line-height: 40px;
		color: #29d;
		white-space: nowrap;
	}
}

/* Larger screens ----------- */
@media only screen 
and (min-width : 798px) {
	.currency { 
		background: url('../img/currencies-75x75.png') no-repeat top left;
		width: 75px; height: 75px;
	} 
	.currency.BITCOIN { background-position: 0px 0px; width: 76px; height: 76px; } 
	.currency.DIGITALCOIN { background-position: -85px 0px; } 
	.currency.FEATHERCOIN { background-position: -170px 0px; } 
	.currency.LITECOIN { background-position: -254px 0px; width: 77px; height: 78px; } 
	.currency.NAMECOIN { background-position: -340px 0px; } 
	.currency.NOVACOIN { background-position: -425px 0px; width: 75px; height: 76px;  } 
	.currency.PEERCOIN { background-position: -510px 0px; } 
	.currency.PRIMECOIN { background-position: -595px 0px; } 
	.currency.QUARKCOIN { background-position: -680px 0px; } 
	.currency.STABLECOIN { background-position: -765px 0px; } 
	.currency.YANDEX_RUB { background-position: -850px 0px; } 
	.currency.ZETACOIN { background-position: -935px 0px; } 
	.currency.DOGECOIN { background-position: -1025px 0px; width: 78px; height: 76px; }

	.currency-list-label {
		font-size: 2em;
	}

	.direction-control {
		height: 75px;
		width: 75px;
		font-size: 3em;
	}

	.currency-list-rate {
		overflow: hidden;
		line-height: 75px;
		color: #29d;
		font-size: 2em;
		white-space: nowrap;
	}
}

.currency { 
	display: block;
	margin: 0 auto 0 auto;
}

.currency-list-icon {
	min-width: 40px;
}

.vertical-line {
	border-left: solid #ccc;
	border-right: solid #ccc;
	border-width: 1px;
}

.vertical-left-line {
	border-left: solid #ccc;
	border-width: 1px;
}

.vertical-right-line {
	border-right: solid #ccc;
	border-width: 1px;
}

.currency-picker div.currency-button {
	cursor: pointer;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 12px;
	padding: 12px;
	background-color: white;
	margin-top: 6px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
}

.currency-picker div.currency-button:hover {
	background-color: #eaeaea;
}

.direction-control {
	padding: 0;
}

/* END CURRENCY STEP */

/* START ORDER STEP */

#balance-popover {
	position: relative;
	display: inherit;
	min-width: 100%;
	margin-bottom: 10px;
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

#balance-popover .arrow {
	border-bottom-color: #faebcc;
}

#balance-popover .arrow:after {
	border-bottom-color: #fcf8e3;
}

/* END ORDER STEP */

/* START RESULT STEP */

span.status-sign {
	font-size: 2em;
}

#in-address-popover {
	position: relative;
	display: inherit;
	min-width: 100%;
	margin-bottom: 9px;
}

/* END RESULT STEP */
