/* START CURRENCY STEP */
.currency { background: url('../img/currencies.png') no-repeat; }
.currency.BITCOIN { background-position: 0px 0px; width: 75px; height: 75px; }
.currency.DIGITALCOIN { background-position: 0px -85px; width: 75px; height: 75px; }
.currency.FEATHERCOIN { background-position: 0px -170px; width: 75px; height: 75px; }
.currency.LITECOIN { background-position: 0px -255px; width: 75px; height: 75px; }
.currency.NAMECOIN { background-position: 0px -340px; width: 75px; height: 75px; }
.currency.NOVACOIN { background-position: 0px -425px; width: 75px; height: 76px; }
.currency.PEERCOIN { background-position: 0px -511px; width: 75px; height: 75px; }
.currency.PRIMECOIN { background-position: 0px -596px; width: 75px; height: 75px; }
.currency.QUARKCOIN { background-position: 0px -681px; width: 75px; height: 75px; }
.currency.STABLECOIN { background-position: 0px -766px; width: 75px; height: 75px; }
.currency.YANDEX_RUB { background-position: 0px -851px; width: 75px; height: 75px; }
.currency.ZETACOIN { background-position: 0px -936px; width: 75px; height: 75px;  }

.currency-step {
	padding: 20px;
}

.currencies-list {
	position: relative;
	width: 100%;
	height: 500px;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: auto;
}

.convert-direction-btn {
	height: 75px;
	width: 75px;
	font-size: 3em;
}

.convert-direction {
	padding: 200px 0;
}

.currency-list-item {
	cursor: pointer;
	display: table;
}

.currency-list-icon {
	display: table-cell;
}

.currency-list-label {
	display: table-cell;
	vertical-align: middle;
	font-size: 2em;
	padding: 0 20px;
}

/* END CURRENCY STEP */