.direction-control {
	height: 75px;
	width: 75px;
	font-size: 3em;
}

/* START CURRENCY STEP */
.currency { 
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-image: url("../img/currencies.png");
	background-size: 1200%;
	display: block;
}
.currency.BITCOIN { background-position: 0 0; }
.currency.PRIMECOIN { background-position: -100% 0; }
.currency.DIGITALCOIN { background-position: -200% 0; }
.currency.NAMECOIN { background-position: -300% 0; }
.currency.LITECOIN {background-position: -400% 0; }
.currency.NOVACOIN { background-position: -500% 0; }
.currency.FEATHERCOIN { background-position: -600% 0; }
.currency.PEERCOIN { background-position: -700% 0; }
.currency.QUARKCOIN { background-position: -800% 0; }
.currency.STABLECOIN { background-position: -900% 0; }
.currency.ZETACOIN { background-position: -1000% 0;  }
.currency.YANDEX_RUB { background-position: -1100% 0; }

.currency-step {
	padding: 5%;
}

.currencies-list {
	position: relative;
	width: 100%;
	height: 500px;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: auto;
}

.convert-direction {
	padding: 200px 0;
}

.currency-list-item {
	cursor: pointer;
}

.currency-list-icon {
	min-width: 60px;
	width: 75px;
	height: 75px;
	display: table-cell;
}

.currency-list-label {
	vertical-align: middle;
	font-size: 2em;
	padding: 0 10%;
	display: table-cell;
}

/* END CURRENCY STEP */

/* START ORDER STEP */

form input.money-amount {
	text-align: right;
}

form input.money-wallet {
	text-align: center;
}

/* END ORDER STEP */

/* START RESULT STEP */

span.status-sign {
	font-size: 2em;
}

/* END RESULT STEP */
