.wizard {
	position: relative;
	overflow: hidden;
	background-color: #f9f9f9;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 20px;
}

.wizard:after {
	clear: both;
}

.wizard ul {
	padding: 0;
	margin: 0;
	list-style: none outside none;
}

.wizard ul li {
	position: relative;
	float: left;
	height: 46px;
	padding: 0 20px 0 30px;
	margin: 0;
	font-size: 16px;
	line-height: 46px;
	color: #999999;
	background: #ededed;
}

.wizard ul li a {
	outline: none;
	color: #999999;
	display: block;
	text-decoration: none;
	cursor: default;
}

.wizard ul li .chevron {
	position: absolute;
	top: 0;
	right: -14px;
	z-index: 1;
	display: block;
	border: 24px solid transparent;
	border-right: 0;
	border-left: 14px solid #d4d4d4;
}

.wizard ul li .chevron:before {
	position: absolute;
	top: -24px;
	right: 1px;
	display: block;
	border: 24px solid transparent;
	border-right: 0;
	border-left: 14px solid #ededed;
	content: "";
}

.wizard ul li.complete {
	color: #468847;
	background: #f3f4f5;
}

.wizard ul li.complete:hover {
	background: #e7eff8;
}

.wizard ul li.complete:hover .chevron:before {
	border-left: 14px solid #e7eff8;
}

.wizard ul li.complete .chevron:before {
	border-left: 14px solid #f3f4f5;
}

.wizard ul li.complete a {
	outline: none;
	color: #468847;
	cursor: pointer;
}

.wizard ul li.complete .badge {
	background-color: #468847;
}

.wizard ul li.active {
	color: #3a87ad;
	background: #f1f6fc;
}

.wizard ul li.active a {
	outline: none;
	color: #3a87ad;
	cursor: pointer;
}

.wizard ul li.active .badge {
	background-color: #3a87ad;
}

.wizard ul li.active .chevron:before {
	border-left: 14px solid #f1f6fc;
}

.wizard ul li .badge {
	margin-right: 8px;
}

.wizard ul li:first-child {
	padding-left: 20px;
	border-radius: 4px 0 0 4px;
}

.wizard .actions {
	right: 0;
	z-index: 1000;
	float: right;
}

.wizard .actions .btn {
	outline: none;
}