/* START CURRENCY STEP */

.sprite.BITCOIN { background-position: 0px 0px; width: 75px; height: 75px; }
.sprite.DIGITALCOIN { background-position: 0px -85px; width: 75px; height: 75px; }
.sprite.FEATHERCOIN { background-position: 0px -170px; width: 75px; height: 75px; }
.sprite.LITECOIN { background-position: 0px -255px; width: 75px; height: 75px; }
.sprite.NAMECOIN { background-position: 0px -340px; width: 75px; height: 75px; }
.sprite.NOVACOIN { background-position: 0px -425px; width: 75px; height: 76px; }
.sprite.PEERCOIN { background-position: 0px -511px; width: 75px; height: 75px; }
.sprite.PRIMECOIN { background-position: 0px -596px; width: 75px; height: 75px; }
.sprite.QUARKCOIN { background-position: 0px -681px; width: 75px; height: 75px; }
.sprite.STABLECOIN { background-position: 0px -766px; width: 75px; height: 75px; }
.sprite.YANDEX_RUB { background-position: 0px -851px; width: 75px; height: 75px; }
.sprite.ZETACOIN { background-position: 0px -936px; width: 75px; height: 75px;  }

.currencies-list {
	position: relative;
	width: 100%;
	height: 500px;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: auto;
	
}

.convert-direction-btn {
	height: 75px;
	width: 75px;
	font-size: 3em;
}

.convert-direction {
	padding: 200px 0;
}

.currency-list-item {
	cursor: pointer;
	display: table;
}

.currency-list-icon {
	display: table-cell;
	background: url('../img/currencies.png') no-repeat;
}

.currency-list-label {
	display: table-cell;
	vertical-align: middle;
	font-size: 2em;
	padding: 0 20px;
}

/* END CURRENCY STEP */

/* START ORDER STEP */

form input.money-input {
	text-align: right;
}

/* END ORDER STEP */