/* START CURRENCY STEP */

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 767px) {
	.currency-picker {
		width: 130px;
		padding: 0 10px;
	}
	
	.currency { 
		background: url('../img/currencies-50x50.png') no-repeat top left;
		width: 50px; height: 50px;
	} 
	.currency.BITCOIN { background-position: 0px 0px; } 
	.currency.DIGITALCOIN { background-position: -60px 0px; } 
	.currency.FEATHERCOIN { background-position: -120px 0px; } 
	.currency.LITECOIN { background-position: -180px 0px; } 
	.currency.NAMECOIN { background-position: -240px 0px; } 
	.currency.NOVACOIN { background-position: -300px 0px; } 
	.currency.PEERCOIN { background-position: -359px 0px; } 
	.currency.PRIMECOIN { background-position: -419px 0px; } 
	.currency.QUARKCOIN { background-position: -479px 0px; } 
	.currency.STABLECOIN { background-position: -539px 0px; } 
	.currency.YANDEX_RUB { background-position: -599px 0px; } 
	.currency.ZETACOIN { background-position: -659px 0px; } 

	.currency-list-label {
		font-size: 1em;
		padding: 0;
	}

	.currencies-list {
		height: 350px;
		max-height: 300px;
		min-width: 120px;
	}

	.currency-list-item {
		padding: 3px 5px !important;
	}

	.direction-control {
		height: 40px;
		width: 40px;
		font-size: 2em;
		padding: 0;
	}

	.convert-direction {
		padding: 150px 0;
	}
	
	.currency-list-icon {
		width: 50px;
		height: 50px;
	}
}

/* Larger screens ----------- */
@media only screen 
and (min-width : 768px) {
	.currency { 
		background: url('../img/currencies-75x75.png') no-repeat top left;
		width: 75px; height: 75px;
	} 
	.currency.BITCOIN { background-position: 0px 0px; } 
	.currency.DIGITALCOIN { background-position: -85px 0px; } 
	.currency.FEATHERCOIN { background-position: -170px 0px; } 
	.currency.LITECOIN { background-position: -255px 0px; } 
	.currency.NAMECOIN { background-position: -340px 0px; } 
	.currency.NOVACOIN { background-position: -425px 0px; width: 75px; height: 76px;  } 
	.currency.PEERCOIN { background-position: -510px 0px; } 
	.currency.PRIMECOIN { background-position: -595px 0px; } 
	.currency.QUARKCOIN { background-position: -680px 0px; } 
	.currency.STABLECOIN { background-position: -765px 0px; } 
	.currency.YANDEX_RUB { background-position: -850px 0px; } 
	.currency.ZETACOIN { background-position: -935px 0px; } 

	.currency-list-label {
		font-size: 2em;
		padding: 0 10%;
	}

	.currencies-list {
		height: 500px;
		max-height: 500px;
	}

	.direction-control {
		height: 75px;
		width: 75px;
		font-size: 3em;
		padding: 0;
	}

	.convert-direction {
		padding: 200px 0;
	}
	
	.currency-list-icon {
		width: 75px;
		height: 75px;
	}
}

.currency-step {
	/* padding: 5%; */
}

.currencies-list {
	position: relative;
	width: 100%;
	overflow-y: auto;
}

.currency-list-item {
	cursor: pointer;
}

.currency-list-icon {
	min-width: 60px;
	display: table-cell;
}

.currency-list-label {
	vertical-align: middle;
	display: table-cell;
}

/* END CURRENCY STEP */

/* START ORDER STEP */

/* END ORDER STEP */

/* START RESULT STEP */

span.status-sign {
	font-size: 2em;
}

/* END RESULT STEP */


.overflow-hide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}