Dear customer.

We have received your exchange request. We will process and fulfill your request with on 3 hours.

Order #${order.id}

Incoming transaction details:
${inAmount} ${order.inTransfer.currency.code} -> ${order.inTransfer.address}

Outgoing transaction details:
${order.outTransfer.address} <- ${outAmount} ${order.outTransfer.currency.code}


Thank you for using our service https://bitgates.com
