<div class="row">
	<div class="col-xs-offset-0 col-xs-12 col-md-offset-1 col-md-10">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-2 col-md-2">
							<div class="currency {{orderInfo.inTransfer.currency}}"></div>
						</div>

						<div class="col-xs-offset-1 col-xs-9 col-md-offset-0 col-md-10">

							<form name="inForm" role="form" novalidate>
								<div class="row" style="margin-bottom: 5px;"
								     ng-if="custom" ng-include="'resources/html/money/' + orderInfo.inTransfer.currency + '/in-address.html'"></div>
								<div class="form-group" style="margin-bottom: 0px;">
									<amount-input amount="orderInfo.inTransfer.amount" type="'input'"></amount-input>
								</div>
							</form>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-bottom: 20px;">
	<div class="text-center col-md-12">
		<button class="btn btn-success btn-lg direction-control" ng-click="goToNextStep()"
			popover="{{rate|rate}}" popover-placement="right" popover-trigger="mouseenter"
			ng-disabled="requestCount > 0">
			<span class="glyphicon glyphicon-arrow-down" style="margin-left: 6%; margin-top: 12%"></span>
		</button>
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-0 col-xs-12 col-md-offset-1 col-md-10">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-2 col-md-2">
							<div class="currency {{orderInfo.outTransfer.currency}}"></div>
						</div>
						<div class="col-xs-offset-1 col-xs-9 col-md-offset-0 col-md-10">

							<form name="outForm" role="form" novalidate>
								<div class="form-group" style="margin-bottom: 5px;">
									<amount-input amount="orderInfo.outTransfer.amount" type="'output'"></amount-input>
								</div>
								<div class="popover bottom" id="balance-popover">
											<div class="arrow"></div>
											<div class="popover-content">No more then {{balance|amount}} {{outCurrencyCode}}</div>
								</div>
								<div class="popover bottom" id="balance-popover">
											<div class="arrow"></div>
											<div class="popover-content">No more then {{balance|amount}} {{outCurrencyCode}}</div>
								</div>
								<!--alert type="'warning'"><h5 id="available-balance">No more then {{balance|amount}} {{outCurrencyCode}}</h5></alert-->
								<div class="input-group input-group-lg" ng-class="{'has-error': outForm.outAddress.$invalid}">
									<input class="form-control" type="text" name="outAddress"
									       ng-model="orderInfo.outTransfer.address"
									       ng-required="true" ng-pattern="/^[0-9A-Za-z]+$/"
									       title="Wallet address" placeholder="Wallet address" />
									<span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></span>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
