<div class="row">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 currency-picker">
		<div class="container-fluid">
			<div class="row currency-button" data-ng-click="selectCurrency('BITCOIN', 'LITECOIN')">
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-right-line">
					<div class="currency-list-icon">
						<div class="currency BITCOIN"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-center currency-list-rate">{{ratesMap.BTC_LTC|rate}}</div>
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-left-line">
					<div class="currency-list-icon">
						<div class="currency LITECOIN"></div>
					</div>
				</div>
			</div>
			<div class="row currency-button" data-ng-click="selectCurrency('LITECOIN', 'BITCOIN')">
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-right-line">
					<div class="currency-list-icon">
						<div class="currency LITECOIN"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-center currency-list-rate">{{ratesMap.LTC_BTC|rate}}</div>
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-left-line">
					<div class="currency-list-icon">
						<div class="currency BITCOIN"></div>
					</div>
				</div>
			</div>
			<div class="row currency-button" data-ng-click="selectCurrency('BITCOIN', 'DOGECOIN')">
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-right-line">
					<div class="currency-list-icon">
						<div class="currency BITCOIN"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-center currency-list-rate">{{ratesMap.BTC_DOGE|rate}}</div>
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-left-line">
					<div class="currency-list-icon">
						<div class="currency DOGECOIN"></div>
					</div>
				</div>
			</div>
			<div class="row currency-button" data-ng-click="selectCurrency('DOGECOIN', 'BITCOIN')">
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-right-line">
					<div class="currency-list-icon">
						<div class="currency DOGECOIN"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-center currency-list-rate">{{ratesMap.DOGE_BTC|rate}}</div>
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-left-line">
					<div class="currency-list-icon">
						<div class="currency BITCOIN"></div>
					</div>
				</div>
			</div>
			<div class="row currency-button" data-ng-click="selectCurrency('LITECOIN', 'DOGECOIN')">
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-right-line">
					<div class="currency-list-icon">
						<div class="currency LITECOIN"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-center currency-list-rate">{{ratesMap.LTC_DOGE|rate}}</div>
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-left-line">
					<div class="currency-list-icon">
						<div class="currency DOGECOIN"></div>
					</div>
				</div>
			</div>
			<div class="row currency-button" data-ng-click="selectCurrency('DOGECOIN', 'LITECOIN')">
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-right-line">
					<div class="currency-list-icon">
						<div class="currency DOGECOIN"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-center currency-list-rate">{{ratesMap.DOGE_LTC|rate}}</div>
				<div class="col-md-3 col-sm-3 col-xs-3 vertical-left-line">
					<div class="currency-list-icon">
						<div class="currency LITECOIN"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>