<div class="modal-header">
	<h3>Welcome to Bitgates</h3>
</div>
<div class="modal-body" id="modal">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<input type="radio" ng-model="auth" id="radio1" value="True" ng-change="checked()"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1 col-md-1"></div>
			<label for="radio1" class="col-xs-10 col-md-10">
				<a href="webapi/oauth2/authenticate" ng-if="auth === 'True'"
				   popover="Login with Google+" popover-placement="right" popover-trigger="mouseenter">
					<img src="resources/img/google-plus.png" alt="Google+">
				</a>
				<img src="resources/img/google-plus-disabled.png" alt="Google+" ng-if="auth === 'False'" ng-click="checked()">
			</label>
			<div class="col-xs-1 col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<input type="radio" ng-model="auth" id="radio2" value="False">
				<label for="radio2"><h3>No registration</h3></label><br/>
			</div>

		</div>
		<div class="row" ng-if="auth === 'False'">
			<div class="col-xs-3 col-md-3"></div>
			<div class="col-xs-6 col-md-6" ng-class="{'has-error': pinInvalid}">
				<input type="text" class="form-control" placeholder="PIN" 
				       ng-required="true" ng-model="model.pin" ng-change="changePin()"/>
			</div>
			<div class="col-xs-3 col-md-3"></div>
		</div>
		<div class="row text-center" ng-if="!pinInvalid && auth === 'False'">
			<hr>
			<div class="center col-xs-12 col-md-12" ng-class="{'has-error': encodedKeyInvalid}">

				<img id="captcha" src="{{src}}" alt="CAPTCHA" ng-click="updateImage()"
				     popover="Update captcha" popover-placement="right" popover-trigger="mouseenter">
				<input type="text" class="form-control" placeholder="CAPTCHA" 
				       ng-required="true"  ng-model="model.encodedKey" ng-change="changeEncodedKey()"/>
			</div>
		</div>
	</div>
</div>