<div class="modal-header">
	<h3>Welcome to Bitgates</h3>
</div>
<div class="modal-body" id="modal">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<input type="radio" ng-model="auth" id="radio1" value="True"/>
				<label for="radio1">
					<a href="webapi/oauth2/authenticate" class="enable-{{auth}}" ng-if="auth === 'True'"
					   popover="Login with Google+" popover-placement="right" popover-trigger="mouseenter">
					<img src="resources/img/google-plus.png" alt="Google+">
				</a>
					<img src="resources/img/google-plus-disabled.png" alt="Google+" class="enable-{{auth}}" ng-if="auth === 'False'">
				</label>
				
			</div>
		</div>
		<div class="row"><br>
			<div class="col-xs-8 col-md-8">
				<input type="radio" ng-model="auth" id="radio2" value="False">
				<label for="radio2">No registration</label><br/>
			</div>
			
		</div>
		<div class="row" ng-if="auth === 'False'">
			<div class="col-xs-3 col-md-3"></div>
			<div class="col-xs-6 col-md-6" ng-class="{'has-error': pinInvalid}">
				<input type="text" class="form-control" placeholder="PIN" 
				       ng-required="true" ng-model="model.pin" ng-change="changePin()"/>
			</div>
			<div class="col-xs-3 col-md-3"></div>
		</div>
		<div class="row text-center" ng-if="!pinInvalid && auth === 'False'">
			<hr>
			<div class="center col-xs-12 col-md-12" ng-class="{'has-error': encodedKeyInvalid}">

				<img id="captcha" src="{{src}}" class="enable-True" alt="CAPTCHA" ng-click="updateImage()">
				<input type="text" class="form-control" placeholder="CAPTCHA" 
				       ng-required="true"  ng-model="model.encodedKey" ng-change="changeEncodedKey()"/>
			</div>
		</div>
	</div>
</div>