<div>
	<form name="form" novalidate>
	<div class="row">
		<span class="control-label row">Amount:</span>
		<div class="form-group col-md-2" ng-class="{'has-error': form.coins.$invalid}">
			<label class="sr-only" for="yandexCoins">Coins</label>
			<input class="form-control input-lg money-input" ng-readonly="false" ng-model="amount.coins" ng-pattern="/^[1-9]\d*$/" required step="1" type="number" name="coins" id="yandexCoins" />
		</div>
		<div class="form-group col-md-1" ng-class="{'has-error': form.cents.$invalid}">
			<input class="form-control input-lg money-input" ng-readonly="false" ng-model="amount.cents" ng-pattern="/^[1-9]\d*$/" required step="1" type="number" name="cents" id="yandexCents" />
		</div>
	</div>
	</form>
		<!--FOR TESTING ONLY-->
		<br>
		<span class="label-danger ng-hide" ng-show="!authorized">Not authorized</span><br>
		<button class="btn btn-default" ng-click="redirect()">Redirect</button>
</div>