<div class="container-fluid" ng-controller="YandexController">
	<div class="row">
		<div class="col-md-3 col-xs-1"></div>
		<div class="col-md-6 col-xs-10">
			
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-2 col-xs-2">
								<div class="currency YANDEX_RUB"></div>
							</div>
							<div class="col-xs-offset-0 col-md-offset-1 col-md-6 col-xs-10 ng-hide" ng-show="authorized">
								<form name="form" novalidate class="">
									<div class="form-group col-md-4" ng-class="{'has-error': form.coins.$invalid}">
										<label class="" for="yandexCoins">Coins</label>
										<input class="form-control input-lg money-amount" ng-readonly="false" ng-model="amount.coins"
											   ng-pattern="/^[1-9]\d*$/" required step="1" type="number" name="coins" min="1" id="yandexCoins" />
									</div>
									<div class="form-group col-md-2" ng-class="{'has-error': form.cents.$invalid}">
										<label class="" for="yandexCents">Cents</label>
										<input class="form-control input-lg money-amount" ng-readonly="false" ng-model="amount.cents"
											   ng-pattern="/^[0-9]\d*$/" required step="1" type="number" name="cents" min="0" max="99" id="yandexCents" />
									</div>
								</form>
							</div>
							<div class="col-xs-offset-0 col-md-offset-1 col-md-6 col-xs-10 ng-hide" ng-hide="authorized">
								<div class="alert alert-danger">Not authorized</div>
								<button class="btn btn-info btn-block" ng-click="redirect()">Authorize on Yandex</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-3 col-xs-1"></div>
	</div>
</div>