<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="container-fluid">


				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="container-fluid">		
								<div class="row">

									<div class="col-xs-4 col-md-4">
										<div class=" btn-group"> 
											<a  class="btn btn-default dropdown-toggle btn-select" 
											    data-toggle="dropdown" data-placement="bottom" 
											    title="Select currency" href="#">{{currency.code}} <span class="caret"></span>
											</a>

											<ul class="dropdown-menu">
												<li data-ng-repeat="currency in currencies" 
												    data-ng-click="selectCurrency(currency)"
												    data-ng-class="{'disabled': !currency.supported}">
													<a class="currency-list-item">
														<div class="text-center currency-list-label">{{currency.code}}</div>
													</a>
												</li>
											</ul>
										</div>

									</div>	
									<div class="col-xs-4 col-md-4">
										<input class="form-control overflow-hide" type="text" name="balance"
										       ng-model="balance" ng-readonly="true" />
									</div>
									<div class="col-xs-4 col-md-4">

										<input class="form-control overflow-hide" type="text" name="inAddress"
										       ng-model="inAddress" ng-readonly="true" />

									</div>
								</div>							

							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="container-fluid">		
								<div class="row">

									<div class="col-xs-4 col-md-4">

										<input class="form-control" type="text" name="address" style="cursor: text;"
										       ng-model="outAddress" placeholder="Address to send"
										       ng-required="true" title="Address" />


									</div>
									<div class="col-xs-4 col-md-4">
										<input class="form-control" type="text" name="amountToSend" style="cursor: text;"
										       ng-model="amountToSend"
										       ng-required="true" title="Amount to send" />
									</div>

									<div class="col-xs-4 col-md-4">
										<button class=" btn btn-success overflow-hide" ng-click="sendMoney()">
											Send Money <span class="glyphicon glyphicon-arrow-right"></span>
										</button>
									</div>

								</div>							

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

