Dear customer,

You canceled order.

Order #${order.id}

Transaction details:
-----------------------------------------------
Account Number: ${order.outTransfer.address}
Email: ${order.userPublicKey}
-----------------------------------------------