Dear customer.

Too small amount received to our address.

Order #${order.id} is failed.

Incoming transaction details:
${inAmount} ${order.inTransfer.currency.code} -> ${order.inTransfer.address}

Outgoing transaction details:
${order.outTransfer.address} <- ${outAmount} ${order.outTransfer.currency.code}