Dear customer,

We have received your exchange request.

We will process and fulfill your request with on 3 hours.

Order #${order.id}

Transaction details:
-----------------------------------------------
Account Number: ${order.outTransfer.address}
Email: ${order.userPublicKey}
-----------------------------------------------