Dear customer.

Order #${order.id} is invalid.

Incoming transaction details:
${inAmount} ${order.inTransfer.currency.code} -> ${order.inTransfer.address}

Outgoing transaction details:
${order.outTransfer.address} <- ${outAmount} ${order.outTransfer.currency.code}