Dear customer,

Order #${order.id} is invalid.

Transaction details:
-----------------------------------------------
Account Number: ${order.outTransfer.address}
Email: ${order.userPublicKey}
-----------------------------------------------