Dear customer,

Too small amount received to our address.

Order #${order.id} is failed.

Transaction details:
-----------------------------------------------
Account Number: ${order.outTransfer.address}
Email: ${order.userPublicKey}
-----------------------------------------------