Dear customer,

We have received your money.

Order #${order.id}

Transaction details:
-----------------------------------------------
Account Number: ${order.outTransfer.address}
Email: ${order.userPublicKey}
-----------------------------------------------