Dear customer.

We have received your money.

Order #${order.id}

Incoming transaction details:
${inAmount} ${order.inTransfer.currency.code} -> ${order.inTransfer.address}

Outgoing transaction details:
${order.outTransfer.address} <- ${outAmount} ${order.outTransfer.currency.code}