Dear customer.

Order #${order.id} has been processed successfully.

Incoming transaction details:
${inAmount} ${order.inTransfer.currency.code} -> ${order.inTransfer.address}

Outgoing transaction details:
${order.outTransfer.address} <- ${outAmount} ${order.outTransfer.currency.code}


Thank you for using our service https://bitgates.com
