Dear customer,

We sent money on your Account Number.

Order #${order.id}

Transaction details:
-----------------------------------------------
Account Number: ${order.outTransfer.address}
Email: ${order.userPublicKey}
-----------------------------------------------

Thank you for using our service.